In [1]:
c = [-45, 6, 0, 72, 1543]

c

[-45, 6, 0, 72, 1543]

In [2]:
a_list = []

for number in range(1, 6):
    a_list += [number]
    
a_list

[1, 2, 3, 4, 5]

In [3]:
list1 = [10, 20, 30]
list2 = [40, 50]

concatenated_list = list1 + list2

concatenated_list

[10, 20, 30, 40, 50]

In [6]:
for i in range(len(concatenated_list)):
    print(f'{i}: {concatenated_list[i]}')

0: 10
1: 20
2: 30
3: 40
4: 50

In [7]:
a = [1, 2, 3]
b = [1, 2, 3]
c = [1, 2, 3, 4]

a == b

True

In [8]:
a == c

False

In [9]:
a < c

True

In [10]:
c >= b

True

In [11]:
student_tuple = () 

student_tuple

()

In [12]:
student_tuple = 'John', 'Green', 3.3

student_tuple

('John', 'Green', 3.3)

In [13]:
len(student_tuple)

3

In [14]:
another_student_tuple = ('Mary', 'Red', 3.3)

another_student_tuple

('Mary', 'Red', 3.3)

In [15]:
a_singleton_tuple = ('red',)

a_singleton_tuple

('red',)

In [16]:
time_tuple = (9, 16, 1)

time_tuple

(9, 16, 1)

In [17]:
time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]

33361

In [18]:
tuple1 = (10, 20, 30)

tuple2 = tuple1

tuple2

(10, 20, 30)

In [20]:
tuple1 += (40, 50)

tuple1

(10, 20, 30, 40, 50)

In [21]:
tuple2

(10, 20, 30)

In [22]:
numbers = [1, 2, 3, 4, 5]

numbers += (6, 7)

numbers

[1, 2, 3, 4, 5, 6, 7]

In [23]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])

student_tuple[2][1] = 85

student_tuple

('Amanda', 'Blue', [98, 85, 87])

In [2]:
student_tuple = ('Amanda', [98, 85, 87])

first_name, grades = student_tuple

first_name

'Amanda'

In [3]:
grades

[98, 85, 87]

In [4]:
tuple(enumerate(student_tuple))

((0, 'Amanda'), (1, [98, 85, 87]))

In [7]:
#creating a primitive barchart
"""Displaying a bar chart"""
numbers = [19, 3, 15, 7, 11]

print('\Creating a bar chart from numbers:')
print(f'Index{"Value":>8}   Bar')

for index, value in enumerate(numbers):
    print(f'{index:>5}{value:>8}   {"*" *  value}')

\Creating a bar chart from numbers:
Index   Value   Bar
    0      19   *******************
    1       3   ***
    2      15   ***************
    3       7   *******
    4      11   ***********

In [9]:
test = "*" * 10
test

'**********'

In [10]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

numbers[2:6]

[5, 7, 11, 13]

In [12]:
numbers[:6]

[2, 3, 5, 7, 11, 13]

In [13]:
numbers[6:]

[17, 19]

In [14]:
numbers[6:len(numbers)]

[17, 19]

In [15]:
numbers[:]

[2, 3, 5, 7, 11, 13, 17, 19]

In [16]:
numbers[::2]

[2, 5, 11, 17]

In [17]:
numbers[::-1]

[19, 17, 13, 11, 7, 5, 3, 2]

In [18]:
numbers[-1:-9:-1]

[19, 17, 13, 11, 7, 5, 3, 2]

In [20]:
numbers[0:3] = ['two', 'three', 'five']

numbers

['two', 'three', 'five', 7, 11, 13, 17, 19]

In [21]:
numbers[0:3] = []

numbers

[7, 11, 13, 17, 19]

In [22]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

numbers[::2] = [100, 100, 100, 100]

numbers

[100, 3, 100, 7, 100, 13, 100, 19]

In [23]:
id(numbers)

1877285875648

In [24]:
numbers = list(range(0, 10))

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
#deleting a specific member of the list 
del numbers[-1]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [26]:
del numbers[0:2]

numbers

[2, 3, 4, 5, 6, 7, 8]

In [27]:
del numbers[::2]

numbers

[3, 5, 7]

In [28]:
#passing lists to functions
def modify_elements(items):
    """Multiplies all elements values in items by 2."""
    for i in range(len(items)):
        items[i] *= 2
        
        
numbers = [10, 3, 7, 1, 9]

modify_elements(numbers)

numbers

[20, 6, 14, 2, 18]

In [29]:
#Sorting lists
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

numbers.sort()

numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
numbers.sort(reverse = True)

numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [31]:
#using built in function
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

ascending_numbers = sorted(numbers)

ascending_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
letters = 'fadgjchebi'

ascending_letters = sorted(letters)

ascending_letters

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [34]:
letters

'fadgjchebi'

In [36]:
colors = ('red', 'orange', 'yellow', 'green', 'blue')

ascending_colors = sorted(colors)

ascending_colors

['blue', 'green', 'orange', 'red', 'yellow']

In [37]:
numbers = [3, 7, 1, 4, 2, 8, 5, 6]

numbers *= 2 

numbers

[3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6]

In [38]:
numbers.index(5, 7)

14

In [39]:
#using IN
key = 1000

if key in numbers:
    print(f'found {key} at index {numbers.index(key)}')
else:
    print(f'{key} not found')

1000 not found

In [ ]:
#inserting into a specific location

color_names = ['orange', 'yellow', 'green']

color_names.insert(0, 'red')

color_names

['red', 'orange', 'yellow', 'green']

In [41]:
#adding to the end of the list 
color_names.append('blue')
color_names

['red', 'orange', 'yellow', 'green', 'blue']

In [ ]:
responses = [1, 2, 5, 4, 3, 5, 2, 1, 3, 3,
             1, 4, 3, 3, 3, 2, 3, 3, 2, 2]

for i in range(1, 6):
    print(f'{i} appears {responses.count(i)} times in responses')

1 appears 3 times in responses
2 appears 5 times in responses
3 appears 8 times in responses
4 appears 2 times in responses
5 appears 2 times in responses