In [2]:
#functions
def my_functions():
    print("Hello from a function")
    
my_functions()

Hello from a function

In [ ]:
#arguments in a function
def my_function(fname):
    print(fname + " Refsnes")
    
my_function

In [2]:
def my_function(fname, lname):
    print(fname + " " + lname)
    
my_function("Emil", "Refsnes")

Emil Refsnes

In [4]:
#using *args will send a tuple of arguments
def my_function(*kids):
    print("The Youngest child is " + kids[2])
    
my_function('Emil', "Tobias", "Linus")

The Youngest child is Linus

In [5]:
#keyword arguments
def my_function(child3, child2, child1):
    print("The Youngest child is " + child3)
    
my_function(child1="Emil", child2="Tobias", child3="Linus")

The Youngest child is Linus

In [ ]:
#unknown number of keyword arguments
def my_function(**kid):
    print("His last name is " + kid['lname'])
    
my_function(fname="Tobias", lname="Refsnes")

His last name is Refsnes

In [7]:
#assigning a default value to a variable
def my_function(country ="Norway"):
    print("I am from " + country)
    
my_function('Sweden')
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [8]:
#passing a list an an argument 
def my_function(food):
    for x in food:
        print(x)
        
fruits = ['apple', 'banana', 'cherry']

my_function(fruits)

apple
banana
cherry

In [ ]:
#returning a value
def my_function(x):
    return 5 * x


print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [10]:
#no function definition 
def my_function():
    pass

In [ ]:
#allow only positional arguments
def my_function(x, /):
    print(x)
    
my_function(3)

3

In [ ]:
#allow keyword arguments
def my_function(*, x):
    print(x)
    
my_function(x = 3)

3

In [14]:
#confusing combining positional-only and keyword-only
def my_function(a, b, /, *, c, d):
    print(a + b + c + d)
    
my_function(5, 6, c = 7, d = 8)

26

In [15]:
def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k-1)
        print(result)
    else:
        result = 0 
    return result 

print("Recursion Example Results:")

tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21