In [1]:
#using addition symbol
list1 = ['a','b','c']
list2 = [1, 2, 3]
 
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [2]:
for x in list2:
    list1.append(x)
    
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [3]:
#using extends
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [4]:
#tuples
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [5]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [6]:
#length of a tuple
thistuple = ('apple', 'banana', 'cherry')
print(len(thistuple))

3

In [8]:
#creating tuples
thistuple = ('apple',)
print(type(thistuple))

<class 'tuple'>

In [ ]:
thistuple = ('apple') #not a tuple
print(type(thistuple))

<class 'str'>

In [10]:
#we can use the tuple method
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

In [11]:
#accessing tuple items
thistuple = ('apple', 'banana', 'cherry')
print(thistuple[1])

banana

In [12]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [13]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [14]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [15]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [16]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple is in the fruits tuple")

Yes, 'apple is in the fruits tuple

In [ ]:
#changing the value of a tuple
#change it to a list first and change is back to a tuple
x = ('apple', 'banana','cherry')
y = list(x)
y[1] ="kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [18]:
#adding items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append('orange')
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [19]:
#adding a tuple to a tuple
thistuple = ('apple','banana','cherry')
y = ('orange',)

thistuple +=y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [20]:
#removing items from a tuple
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove('apple')
thistuple = tuple(y)

print(tuple)

<class 'tuple'>

In [22]:
thistuple =('apple', 'banana', 'cherry')
del thistuple

#print(thistuple)

In [23]:
fruits  = ('apple', 'banana', 'cherry')
(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [24]:
#using astericks to assign remaining items as list to the last one
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits 

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [25]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [26]:
#looping through a tuple
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [27]:
#index loop
thistuple = ('apple', 'banana', 'cherry')
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

In [28]:
#using while loop
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

apple
banana
cherry

In [29]:
#joining a tuple to another
tuple1 = ('a', 'b', 'c')
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple)

<class 'tuple'>

In [30]:
fruits = ('apple', 'banana', 'cherry')
mytuple = fruits *2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')