In [2]:
myset = {'apple', 'banana', 'cherry'}
print(myset)

{'banana', 'cherry', 'apple'}

In [3]:
#using the set constructor
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'banana', 'cherry', 'apple'}

In [4]:
#accessing items in a set
thisset = {"apple","banana", "cherry"}

for x in thisset:
    print(x)

banana
cherry
apple

In [5]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [6]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

In [7]:
#adding
thisset = {'apple', 'banana', 'cherry'}

thisset.add('orange')

print(thisset)

{'orange', 'banana', 'cherry', 'apple'}

In [8]:
#adding one set to the other
thisset = {'apple', 'banana',"cherrry"}
tropical = {'pineapple', 'mango', 'papaya'}

thisset.update(tropical)

print(thisset)

{'mango', 'papaya', 'apple', 'cherrry', 'banana', 'pineapple'}

In [9]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'orange', 'kiwi', 'apple', 'banana', 'cherry'}

In [10]:
#removing items
thisset = {"apple", "banana", "cherry", "kiwi", "orange"}
thisset.remove("banana")
print(thisset)

{'orange', 'apple', 'kiwi', 'cherry'}

In [11]:
thisset = {'apple', 'banana', 'cherry'}
thisset.discard('banana')
print(thisset)

{'cherry', 'apple'}

In [12]:
thisset = {'apple', 'banana', 'cherry'}
x = thisset.pop()
print(x)

print(thisset)

banana
{'cherry', 'apple'}

In [13]:
#empty a set
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [14]:
thisset = {'apple', 'banana', 'cherry'}

for x in thisset:
    print(x)

banana
cherry
apple

In [15]:
#joining sets
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2

print(set3)

{1, 'c', 2, 'a', 3, 'b'}

In [16]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2,set3, set4)
print(myset)

{1, 2, 3, 'John', 'b', 'Elena', 'c', 'a', 'bananas', 'apple', 'cherry'}

In [17]:
#Difference
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [18]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2 
print(set3)

{'banana', 'cherry'}

In [19]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

In [20]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'cherry', 'google', 'microsoft'}

In [21]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2

print(set3)

{'banana', 'cherry', 'google', 'microsoft'}