In [1]:
txt = f'The Price is 49 dollars'
print(txt)

The Price is 49 dollars

In [2]:
price = 59 
txt = f'The price is {price} dollars'
print(txt)

The price is 59 dollars

In [3]:
price = 59 
txt = f'The price is {price:.2f} dollars'
print(txt)

The price is 59.00 dollars

In [4]:
txt = f'The price is {95:.2f} dollars'
print(txt)

The price is 95.00 dollars

In [5]:
#perform operations in string formatting 
txt = f'The price is {20 * 59} dollars'
print(txt)

The price is 1180 dollars

In [6]:
#adding taxes
price = 59
tax = 0.25
txt = f'The price is {price + (price * tax)} dollars'
print(txt)

The price is 73.75 dollars

In [7]:
#using if else in formatting
price = 49 
txt = f'It is very {'Expensive' if price > 50 else 'Cheap'}'

print(txt)

It is very Cheap

In [8]:
#executing function inside place holders 
fruit = 'apples'
txt = f'I love {fruit.upper()}'
print(txt)

I love APPLES

In [10]:
def myconverter(x):
    return x * 0.3048

txt = f'The plane is flying at a {myconverter(30000)} meter altitude'
print(txt)

The plane is flying at a 9144.0 meter altitude

In [11]:
#using different modifiers
price = 59000
txt = f'The price is {price:,} dollars'
print(txt)

The price is 59,000 dollars

In [13]:
#string format 
price = 49 
txt = "The price is {:.2f} dollars"

print(txt.format(price))

The price is 49.00 dollars

In [14]:
quantity = 3 
itemno = 567
price = 49 
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [15]:
#using index numbers 
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [16]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.